body{
    font-family: 'Montserrat-Black', sans-serif !important;
    position:relative
}
#title{
    background-color: #ff4c68;
    padding:2rem 7rem 0 7rem;
    /* z-index: -1; */
}
.title-container{
    height: 50rem;
}
.fonts{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.25rem;
}
.row h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.navbar-brand{
    font-size: 2.6rem!important;
}
.nav-item{
    font-size: 1.2rem;
}
.head-text{
    color:white;
    padding:0 3rem !important;
}
.row{
    margin: 4rem 0!important;
}

.row button{
    margin:5rem 1rem;
    
}
.btn12{
    padding:0 2rem;
}
.dog-img{
    margin-top:3rem !important;
    transform: rotate(20deg);
    height: 550px;
    position: relative;
    top:5rem;
    /* right: 24rem; */
    left: 7rem;
    z-index: 5;
    
}
li{
    margin: 0 2rem;
}
.icon{
    font-size: 45px;
    margin: 14px 0;
    color:#ef8172;
}
.icon:hover{
    color:#ff4c68;
}

@media (max-width:991px)
{
    #title{
        text-align: center;
        padding-bottom: 21rem;
    }
    .dog-img{
        transform:rotate(0);
        text-align: center;
        position: static; 
    }

}



/* feature section styling */
#features{
    background-color: white;
    z-index: 5;
    position: relative;
    margin: 0;
    padding: 3rem;
}
 .feature-1,.feature-2,.feature-3{
    text-align: center;
    font-family: 'Montserrat-Bold', sans-serif;
    padding:0 8rem !important;
}
.features-row{
    padding: 1rem 7rem;
}


/* testimonial -Section */
#testimonials{
    /* fal ki chinta mt kro bs apna kartavy samjha ke dharm ka paalan kro*/
    background-color: #ef8172;
    padding: 7% 18%;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat-Bold', sans-serif;
}
.testimonial-text{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.5;
}
.testimonial-img{
    border-radius: 100%;
    width: 10%;
    margin:30px;
}
#press{
    background-color: #ef8172;
    padding: 5% 7%;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 5% 3%;
}


/* pricing styling */
#pricing{
    text-align: center;
    padding: 100px;
}




/*call to action styling*/
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding:14rem 14rem;   
    margin: 4rem 0;
}

.cta-description{
    font-size: 3rem;
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    color: #fff;
}
.cta-button{
    margin: 1rem 1rem;
}


/* footer styling */
#footer{
    text-align: center;
}
.footer-icons{
    font-size: 2rem;
    margin:1rem 1rem;
}